<header class="header">
  <div class="header__brand">
   <a href="http://localhost:3000"> <h1>Rúben Carvalho</h1></a>
  </div>

  <nav class="header__nav">
   <a href="#">Link 1</a>
   <a href="#">Link 1</a>
   <a href="#">Link 1</a>
  </nav>
</header>