<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>IMPRESSUM</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="grid imprint">
  <h1>IMPRESSUM</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium a maxime doloremque libero fuga! Quas ex ea vitae officiis, modi expedita iste cum nesciunt unde assumenda. Ducimus quos illo saepe!</p>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam ullam cumque, harum rerum velit ipsa corrupti nemo ipsum voluptate voluptatem laboriosam aperiam eaque dolores deleniti laudantium molestias. Voluptas, illum porro!</p>
</body>

</html>
